@{
    ViewBag.Title = "Index";
}
<h2>Index</h2>
<div class="container">
    <div class="row">
        <section class="grid-banner">
            <div class="col-md-12">
                <div class="row">
                    <div class="tab-control text-center text-uppercase">
                        <div class="col-md-8 col">
                            <div class="row">
                                <div class="col-md-3 col">
                                    <div class="tab-item">Khuyến mại</div>
                                </div>
                                <div class="col-md-3 col">
                                    <div class="tab-item">
                                        Mã giảm giá
                                        <div class="c-mp-tabs-banner__label">Mới</div>
                                    </div>
                                </div>
                                <div class="col-md-3 col">
                                    <div class="tab-item">GIAN HÀNG CHÍNH HÃNG</div>
                                </div>
                                <div class="col-md-3 col">
                                    <div class="tab-item">KHUYẾN MÃI ADIVA</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col">
                            <div class="tab-item"
                                 style="background: linear-gradient(263deg,#f26e35,#e60f1e); color: #fff">
                                <i class="fa fa-mobile pull-left"
                                   style="margin-left: 15px; margin-top: 0px; font-size: 20px !important;"
                                   aria-hidden="true"></i>
                                Nạp tiền điện thoại - Giảm đến 10%
                                <div class="c-mp-tabs-banner__label">Mới</div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="tab-content">
                        <div class="col-md-4 col">
                            <a href="#">
                                <div class="content-banner content-banner-square-big"
                                     style="background: url('images/banner-vuong1.jpg');"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col">
                            <a href="#">
                                <div class="content-banner content-banner-square-big"
                                     style="background: url('images/banner-vuong2.jpg');"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col">
                            <div class="row">
                                <div class="col-md-6 col">
                                    <a href="#">
                                        <div class="content-banner content-banner-square-small"
                                             style="background: url('images/banner-vuong2.jpg');"></div>
                                    </a>
                                </div>
                                <div class="col-md-6 col">
                                    <a href="#">
                                        <div class="content-banner content-banner-square-small"
                                             style="background: url('images/banner-vuong2.jpg');"></div>
                                    </a>
                                </div>
                                <div class="col-md-12 col">
                                    <a href="#">
                                        <div class="content-banner content-banner-square-small"
                                             style="background: url('images/banner-cn1.jpg');"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col">
                            <a href="#">
                                <div class="content-banner content-banner-square-small"
                                     style="background: url('images/banner-cn1.jpg');"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col">
                            <a href="#">
                                <div class="content-banner content-banner-square-small"
                                     style="background: url('images/banner-cn1.jpg');"></div>
                            </a>
                        </div>
                        <div class="col-md-4 col">
                            <div class="row">
                                <div class="col-md-6 col">
                                    <a href="#">
                                        <div class="content-banner content-banner-square-small"
                                             style="background: url('images/banner-vuong2.jpg');"></div>
                                    </a>
                                </div>
                                <div class="col-md-6 col">
                                    <a href="#">
                                        <div class="content-banner content-banner-square-small"
                                             style="background: url('images/banner-vuong2.jpg');"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section class="xu-huong">
            <div class="col-md-12 col">
                <h4>Xu hướng tìm kiếm</h4>
                <div id="carousel-id" class="carousel slide" data-ride="carousel" data-interval="false">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="pr_item_sm text-center active">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="item">
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="pr_item_sm text-center">
                                <i class="fa fa-2x fa-laptop pr_item_img" aria-hidden="true"></i>
                                <p class="pr_item_name">Xu hướng hot</p>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="fa fa-chevron-left icon-prev"></span></a>
                    <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="fa fa-chevron-right icon-next"></span></a>
                </div>
                <div class="box_pr_list">
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_1.jpg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_4.jpg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_1.jpg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_1.jpg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_1.jpg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_4.jpg" alt="">
                        </div>
                    </a>
                    <a href="#">
                        <div class="box_pr_item">
                            <img src="images/pr_2.jpg" alt="">
                        </div>
                    </a>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section class="iphone">
            <div class="col-md-12 col">
                <h4>iPhone 8 64GB giá vô địch</h4>
                <div class="box_pr_list_big">
                    <div class="box_img left" style="background-image: url('images/pr_3.jpg');"></div>
                    <div class="slide_pr right">
                        <div id="carousel-id-3" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-id-3" data-slide="prev"><span class="fa fa-chevron-left icon-prev"></span></a>
                            <a class="right carousel-control" href="#carousel-id-3" data-slide="next"><span class="fa fa-chevron-right icon-next"></span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section class="honda">
            <div class="col-md-12 col">
                <h4>Honda Vision - Chỉ từ 28.550.000đ</h4>
                <div class="box_pr_list_big">
                    <div class="box_img right" style="background-image: url('images/pr_5.jpg');"></div>
                    <div class="slide_pr left">
                        <div id="carousel-id-2" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_6.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Xe tay ga Honda Vision 2017 - Đỏ tươi + Tặng 2 nón bảo hiểm Honda</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_6.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Xe tay ga Honda Vision 2017 - Đỏ tươi + Tặng 2 nón bảo hiểm Honda</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_6.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Xe tay ga Honda Vision 2017 - Đỏ tươi + Tặng 2 nón bảo hiểm Honda</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_6.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Xe tay ga Honda Vision 2017 - Đỏ tươi + Tặng 2 nón bảo hiểm Honda</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-id-2" data-slide="prev"><span class="fa fa-chevron-left icon-prev"></span></a>
                            <a class="right carousel-control" href="#carousel-id-2" data-slide="next"><span class="fa fa-chevron-right icon-next"></span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </section>
        <section class="iphone">
            <div class="col-md-12 col">
                <h4>iPhone 8 64GB giá vô địch</h4>
                <div class="box_pr_list_big">
                    <div class="box_img left" style="background-image: url('images/pr_3.jpg');"></div>
                    <div class="slide_pr right">
                        <div id="carousel-id-3" class="carousel slide" data-ride="carousel" data-interval="false">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="pr_item_big active">
                                            <div class="pr_item_img text-center">
                                                <img src="images/pr_4.jpg" alt="">
                                            </div>
                                            <p class="pr_item_name">Apple iPhone 8 64GB (Xám) - Hàng nhập khẩu</p>
                                            <div class="pr_item_price">18.538.000 VND</div>
                                            <div class="pr_item_sale"><strike>29.000.000 VND</strike> -36%</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-id-3" data-slide="prev"><span class="fa fa-chevron-left icon-prev"></span></a>
                            <a class="right carousel-control" href="#carousel-id-3" data-slide="next"><span class="fa fa-chevron-right icon-next"></span></a>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>

        </section>
    </div>
</div>
