@model IEnumerable<DTO.Category>
<ul>
    @foreach (DTO.Category item in Model)
    {
        <li>
            <a href="/home/">@item.Name</a>
            @if (item.Categories != null)
            {
                <ul>
                    @foreach (DTO.Category child in item.Categories)
                    {
                        <li>
                            <a href="/home/">@child.Name</a>
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>
