
@{
    ViewBag.Title = "Change";
}

<h2>Change</h2>
<form method="post">
    <p>
        <label>Old Password</label>
        <input type="password" name="oldpassword" />
    </p>
    <p>
        <label>New Password</label>
        <input type="password" name="newpassword" />
    </p>
    <p>
        <input type="submit" value="Change" />
    </p>
</form>

