<footer class="c-footer">

    <section class="c-footer__section c-footer__section_one">
        <div class="c-footer__section-inner">
            <div class="c-footer__block c-footer__block_customer-care">
                <!-- start cms-block footer-2015-customer-care_vi (rev. 15) -->
                <h3 class="footer-section-1-column__title" style="font-size: 14px!important; line-height: 30px!important;">
                    <a href="http://www.THNS.vn/contact/?utm_medium=LZD_HP_CONTACT&amp;utm_campaign=LZD_HP_CONTACT&amp;utm_source=Clicks_HP_CONTACT" style="color:#fff;" >LIÊN HỆ VỚI THNS</a>
                </h3>
                <ul class="footer-section-1-column__list">
                    <li><a class="footer-section-1-column__link" style="pointer-events: none;">Thứ 2 - CN: 7h - 21h</a></li>
                    <li><a class="footer-section-1-column__link" style="pointer-events: none;">Trung tâm DVKH: Tầng 19, Tòa nhà Saigon Centre – Tháp 2, 67 Lê Lợi, Phường Bến Nghé, Quận 1, TP. Hồ Chí Minh</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/">Thứ 2 - thứ 7: 9h - 18h</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/">Trung tâm hỗ trợ</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/orders-payment/#answer-faq-payment-ans">Thanh toán</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/orders-payment/#answer-faq-placeorder-ans">Hướng dẫn đặt hàng</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/shipping-delivery/#answer-faq-delivery-ans">Giao hàng &amp; Nhận hàng</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/products-on-THNS/#answer-faq-internationalproduct-ans">Chính sách hàng nhập khẩu</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/helpcenter/returns-refunds/#answer-faq-return-ans">Hướng dẫn đổi trả hàng</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/dieu-kien-su-dung-voucher/">Hướng dẫn và điều kiện sử dụng voucher</a></li>
                    <!--li><a class="footer-section-1-column__link" href="http://www.THNS.vn/contact/">Câu hỏi &amp; Liên hệ</a-->
                </ul>
                <!-- end cms-block footer-2015-customer-care_vi (rev. 15) -->
            </div>
            <div class="c-footer__block c-footer__block_THNS-links">
                <!-- start cms-block footer-2015-THNS-links_vi (rev. 17) -->
                <h3 class="footer-section-1-column__title">THNS VIỆT NAM</h3>
                <ul class="footer-section-1-column__list">
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/about/">Về THNS Việt Nam</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/sell-on-THNS/">Bán hàng cùng THNS</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/affiliate/"> Chương trình THNS Afﬁliate</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.com/work-at-THNS/" target="_blank">Tuyển dụng</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/terms-of-use/">Điều khoản mua bán hàng hóa</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/privacy-policy/">Chính sách bảo mật</a></li>

                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/press/">Báo chí</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/brands/">Thương hiệu tại THNS</a></li>
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/store-directory/">Danh mục sản phẩm</a></li>
                    <li style="color: white;">Hộp thư nhận góp ý và phản hồi trực tiếp <br>đến Tổng giám đốc THNS.vn <br>  <a class="footer-section-1-column__link" href="mailto:alexandre.dardy@THNS.vn">alexandre.dardy@THNS.vn</a></li>
                    <!--li><a class="footer-section-1-column__link" href="http://www.THNS.vn/phat-hien-hang-gia/">Phát hiện hàng giả  <b>(08) 7300 8822</b></a></li-->
                    <li><a class="footer-section-1-column__link" href="http://www.THNS.vn/quy-che-quan-ly/">Quy chế quản lý hoạt động</a></li>
                    <li>
                        <a class="footer-section-1-column__link" href="https://redmart.com" target="_blank">Redmart</a>
                    </li>
                </ul>
                <!-- end cms-block footer-2015-THNS-links_vi (rev. 17) -->
            </div>
            <div class="c-footer__block c-footer__block_newsletter-app-download">
                <form action="/index/newsletter/" method="post" class="c-footer__block_newsletter-form">
                    <input class="c-footer__newsletter-form-field-token" type="hidden" name="FORM_TOKEN" value="b40ac93d61facbec1d621f867a63eafc0888e4f3">
                    <!-- start cms-block footer-2015-newsletter-form_vi (rev. 4) -->
                    <div class="footer-newsletter-form__top">
                        <h3 class="footer-section-1-column__title">ĐĂNG KÝ NHẬN TIN TỪ THNS</h3>
                        <!--div class="footer-section-1-column__text">Đăng ký nhận tin từ THNS và nhận voucher 50.000 VND</div-->
                    </div>
                    <div class="footer-newsletter-form__wrap-right">
                        <div class="footer-newsletter-form__wrap-gender">
                            <div class="footer-newsletter-form__male lzd-radio">
                                <div class="lzd-radio__symbol">
                                    <span class="lzd-radio__circle-out"></span>
                                    <input class="lzd-radio__input-radio" id="footer-newsletter-form-input-male" type="radio" name="subscription" value="male">
                                    <span class="lzd-radio__circle-in"></span>
                                </div>
                                <label class="lzd-radio__label" for="footer-newsletter-form-input-male">
                                    Nam
                                </label>
                            </div>
                            <div class="footer-newsletter-form__female lzd-radio">
                                <div class="lzd-radio__symbol">
                                    <span class="lzd-radio__circle-out"></span>
                                    <input class="lzd-radio__input-radio" id="footer-newsletter-form-input-female" type="radio" name="subscription" value="female">
                                    <span class="lzd-radio__circle-in"></span>
                                </div>
                                <label class="lzd-radio__label" for="footer-newsletter-form-input-female">
                                    Nữ
                                </label>
                            </div>
                        </div>
                        <input class="footer-newsletter-form__input-submit" type="submit" value="Đăng ký" data-text-submitting="Submitting...">
                    </div>
                    <div class="footer-newsletter-form__wrap-left">
                        <input class="footer-newsletter-form__input-email" type="text" name="NewsletterSignupForm[email]" placeholder="Địa chỉ email của bạn">
                    </div>
                    <!-- end cms-block footer-2015-newsletter-form_vi (rev. 4) -->
                </form>
                <div class="c-footer__block c-footer__block_app-download">
                    <!-- start cms-block footer-2015-app-download_vi (rev. 11) -->
                    <div class="icon icon-logo-THNS-footer"></div>
                    <div class="footer-app-download__text-block">
                        <div class="footer-app-download__title">THẢNH THƠI MUA SẮM</div>
                        <div class="footer-app-download__text">Tải App THNS</div>
                    </div>
                    <a class="icon icon-appstore-footer" href="https://app.adjust.com/vzvnak?campaign=Link&amp;adgroup=VN_Footer&amp;creative=Badge&amp;deep_link=THNS%3A%2F%2FVN&amp;fallback=https%3A%2F%2Fitunes.apple.com%2Fus%2Fapp%2FTHNS-shopping-deals%2Fid785385147%3Fmt%3D8"></a>
                    <a class="icon icon-googleplay-footer" href="https://app.adjust.com/ox2wap?campaign=Link&amp;adgroup=VN_Footer&amp;creative=Badge&amp;deep_link=THNS%3A%2F%2FVN&amp;fallback=https%3A%2F%2Fplay.google.com%2Fstore%2Fapps%2Fdetails%3Fid%3Dcom.THNS.android"></a>
                    <div style="text-align: left;color: white;overflow: hidden;float: none;width: 100%;padding-top: 15px;">CÔNG TY TNHH RECESS <br> Giấy CNĐKDN: 0308808576 – Ngày cấp: 06/5/2009, được sửa đổi lần thứ 15 ngày 24/7/2017. <br> Cơ quan cấp: Phòng Đăng ký kinh doanh – Sở kế hoạch và Đầu tư TP.HCM <br> Địa chỉ đăng ký kinh doanh: Tầng 19, Tòa nhà Saigon Centre – Tháp 2, 67 Lê Lợi, Phường Bến Nghé, Quận 1, Tp. Hồ Chí Minh, Việt Nam.</div>
                    <!-- end cms-block footer-2015-app-download_vi (rev. 11) -->
                </div>
            </div>
        </div>
    </section>

    <section class="c-footer__section c-footer__section_second">
        <div class="c-footer__section-inner">
            <div class="c-footer__block c-footer__block_payment-methods">
                <div class="c-payment-methods">
                    <h3 class="c-payment-methods__title">CÁCH THỨC THANH TOÁN</h3>
                    <div class="c-payment-methods__list">



                        <span class="c-icon c-icon_payment-ipayVisa c-payment-methods__icon"></span>


                        <span class="c-icon c-icon_payment-ipayMaster c-payment-methods__icon"></span>


                        <span class="c-icon c-icon_payment-ipayJCB c-payment-methods__icon"></span>


                        <span class="c-icon c-icon_payment-ipayCOD c-payment-methods__icon"></span>


                        <span class="c-icon c-icon_payment-smartlink c-payment-methods__icon"></span>


                        <span class="c-icon c-icon_payment-VN123Pay c-payment-methods__icon"></span>


                        <span class="c-icon c-icon_payment-ManualInstallmentsCC c-payment-methods__icon"></span>


                    </div>
                </div>
            </div>
            <div class="c-footer__block c-footer__block_delivery-services">
                <h3 class="c-footer__block-title">DỊCH VỤ GIAO HÀNG</h3>
                <div class="с-footer__delivery-services-list">
                    <!-- start cms-block footer-2015-delivery-services_vi (rev. 13) -->
                    <div class="footer-delivery-services__icon">
                        <img width="40" src="http://vn-live-02.slatic.net/cms/icons/vietnampost.jpg">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="90" src="http://vn-live-02.slatic.net/cms/icons/ghn.jpg">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="70" src="http://vn-live-02.slatic.net/cms/icons/lex_logo.png">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="80" src="http://vn-live-01.slatic.net/cms/images/logo-ninjavan.png">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="120" src="http://vn-live-02.slatic.net/cms/images/logo-ghtk.png">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="70" src="http://vn-live-02.slatic.net/cms/images/logo-GNN.png">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="130" src="http://vn-live-01.slatic.net/cms/images/logo-DHL-1.png">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="100" src="http://vn-live.slatic.net/cms/images/Logo_VNC.PNG">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="90" src="http://vn-live-03.slatic.net/cms/images/Netco.png">
                    </div>
                    <div class="footer-delivery-services__icon">
                        <img width="70" src="http://vn-live-03.slatic.net/cms/images/ship60.png">
                    </div>
                    <style>
                        .footer-delivery-services__icon {
                            height: 35px;
                        }
                    </style>
                    <!-- end cms-block footer-2015-delivery-services_vi (rev. 13) -->
                </div>
            </div>
            <div class="c-footer__block c-footer__block_footer-verified">
                <h3 class="c-footer__block-title">CHỨNG NHẬN</h3>
                <div class="c-footer__verified-list">
                    <!-- start cms-block footer-2015-verified_vi (rev. 23) -->
                    <div class="footer-verified__icon">
                        <img src="http://vn-live-03.slatic.net/cms/seal_80_mar2016.png" width="80" height="78">
                    </div>
                    <div class="footer-verified__icon">
                        <a href="http://online.gov.vn/HomePage/WebsiteDisplay.aspx?DocId=14805" target="_blank"><img src="http://vn-live-02.slatic.net/cms/2016/registered.png" width="107" height="40" style="display:block;"></a>
                        <a href="http://www.online.gov.vn/CustomWebsiteDisplay.aspx?DocId=15953" target="_blank"><img src="http://vn-live-01.slatic.net/cms/2016/announced.png" width="107" height="40" style="display:block;"></a>
                        <a href="http://online.gov.vn/HomePage/AppDisplay.aspx?DocId=25" target="_blank"><img src="http://vn-live-02.slatic.net/cms/2016/registered.png" width="107" height="40" style="display:block;"></a>
                    </div>

                </div>
            </div>
        </div>
    </section>



    <section class="c-footer__section c-footer__section_fourth">
        <div class="c-footer__section-inner">
            <div class="c-footer__block c-footer__block_footer-ventures">
                <div class="c-all-ventures">
                    <h3 class="c-all-ventures__title">THNS Southeast Asia</h3>
                    <ul class="c-all-ventures__list">
                        <li class="c-all-ventures__item">
                            <a class="c-all-ventures__link c-all-ventures__link_id" href="//www.THNS.co.id/"></a>
                        </li>
                        <li class="c-all-ventures__item">
                            <a class="c-all-ventures__link c-all-ventures__link_my" href="//www.THNS.com.my/"></a>
                        </li>
                        <li class="c-all-ventures__item">
                            <a class="c-all-ventures__link c-all-ventures__link_ph" href="//www.THNS.com.ph/"></a>
                        </li>
                        <li class="c-all-ventures__item">
                            <a class="c-all-ventures__link c-all-ventures__link_sg" href="//www.THNS.sg/"></a>
                        </li>
                        <li class="c-all-ventures__item">
                            <a class="c-all-ventures__link c-all-ventures__link_th" href="//www.THNS.co.th/"></a>
                        </li>
                        <li class="c-all-ventures__item">
                            <a class="c-all-ventures__link c-all-ventures__link_vn" href="//www.THNS.vn/"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="c-footer__block c-footer__block_socials">
                <h3 class="c-footer__block-title_socials">Kết nối với chúng tôi</h3>












                <div class="footer-section-4-column__list">

                    <a href="https://www.facebook.com/THNSVietnam" target="_blank" class="footer-section-4-column__link icon-svg svg-social-facebook"></a>


                    <a href="https://twitter.com/THNSVN" target="_blank" class="footer-section-4-column__link icon-svg svg-social-twitter"></a>


                    <a href="http://www.linkedin.com/company/THNS" target="_blank" class="footer-section-4-column__link icon-svg svg-social-linkedIn"></a>


                    <a href="https://plus.google.com/+THNSVnOfficial/posts" target="_blank" class="footer-section-4-column__link icon-svg svg-social-google"></a>



                    <a href="http://www.youtube.com/user/THNSvn" target="_blank" class="footer-section-4-column__link icon-svg svg-social-youtube"></a>


                    <a href="http://www.pinterest.com/THNSvn/" target="_blank" class="footer-section-4-column__link icon-svg svg-social-pinterest"></a>



                    <a href="http://me.zing.vn/b/THNSvn" target="_blank" class="footer-section-4-column__link icon-svg svg-social-zing"></a>


                </div>

            </div>
            <div class="c-footer__block c-footer__block_copyright-mobile">
                <div class="c-footer__block-text c-footer__block-text_copyright-mobile">
                    © THNS
                </div>
            </div>
        </div>
    </section>
</footer>