@model IEnumerable<DTO.Cart>
@{
    ViewBag.Title = "Index";
}

<h2>My Cart</h2>
<table>
    @foreach (DTO.Cart item in Model)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
        </tr>
    }

</table>

